APP_NAME=BarberShoppe
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000

DB_CONNECTION=sqlite

SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_STORE=database
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

LOG_CHANNEL=stack
LOG_LEVEL=debug

MAIL_MAILER=log

SUPER_ADMIN_PASSWORD=
VITE_APP_NAME="${APP_NAME}"
